@use "sass:math";

.nk-awb {
  position: relative;
  z-index: 0;
}

.wp-block-nk-awb {
  padding: 20px 30px;
}

.nk-awb .nk-awb-inner,
.nk-awb .nk-awb-overlay,
.nk-awb .nk-awb-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
}

.nk-awb .nk-awb-wrap {
  overflow: hidden;
}

.nk-awb .nk-awb-mouse-parallax {
  transform: translateX(0);
}

// Support for VC column gaps.
$vc_gaps: (
  1,
  2,
  3,
  4,
  5,
  10,
  15,
  20,
  25,
  30,
  35,
);
@each $gap in $vc_gaps {
  .vc_row.vc_column-gap-#{$gap} > .vc_column_container > .nk-awb-wrap {
    margin: 1px #{math.div($gap, 2)}px;
  }
}

/* Fullheight */
.nk-awb-fullheight {
  min-height: 100vh;

  body.admin-bar & {
    min-height: calc(100vh - 32px);

    @media screen and (max-width: 782px) {
      min-height: calc(100vh - 42px);
    }
    @media screen and (max-width: 600px) {
      min-height: 100vh;
    }
  }
}

/* Vertical align */
.nk-awb-content-valign-center,
.nk-awb-content-valign-top,
.nk-awb-content-valign-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.nk-awb-content-valign-top {
  justify-content: flex-start;
}

.nk-awb-content-valign-bottom {
  justify-content: flex-end;
}

/* Fix for Safari */
.nk-awb .nk-awb-overlay {
  z-index: 0;
}

/* Background sizes */
.nk-awb .nk-awb-inner {
  z-index: -100;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.nk-awb [data-awb-image-background-size="contain"] > .nk-awb-inner {
  background-size: contain;
}

.nk-awb [data-awb-image-background-size="pattern"] > .nk-awb-inner {
  background-repeat: repeat;
  background-size: auto;
}

/**
 * Image sizes.
 * <picture> tag used for WebP in various of plugins.
 */
.nk-awb .nk-awb-inner > .jarallax-img,
.nk-awb .nk-awb-inner > picture > img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100%;
  height: 100%;
  pointer-events: none;
  object-fit: cover;
}

.nk-awb [data-awb-image-background-size="contain"] > .nk-awb-inner > .jarallax-img,
.nk-awb [data-awb-image-background-size="contain"] > .nk-awb-inner > picture > img {
  object-fit: contain;
}

.nk-awb .nk-awb-inner picture.jarallax-img > img {
  width: 100%;
  height: 100%;
  object-fit: inherit;
  object-position: inherit;
}

// Fix for TwentyTwenty and TwentyTwentyOne (using custom CSS) video styles conflict.
// https://github.com/WordPress/twentytwenty/blob/master/assets/js/index.js#L294-L318
// https://github.com/WordPress/twentytwentyone/blob/trunk/assets/js/responsive-embeds.js#L14-L30
.intrinsic-ignore iframe {
  max-width: none !important;
  max-height: none !important;
}
