.nk-awb {
    position: relative;
    z-index: 0;
}
.nk-awb .nk-awb-inner,
.nk-awb .nk-awb-overlay,
.nk-awb .nk-awb-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
}
.nk-awb .nk-awb-wrap {
    overflow: hidden;
}
.nk-awb .nk-awb-mouse-parallax {
    transform: translateX(0);
}

/* Fix for Safari */
.nk-awb .nk-awb-overlay {
    z-index: 0;
}

/* Background sizes */
.nk-awb .nk-awb-inner {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    z-index: -100;
}
.nk-awb [data-awb-image-background-size="contain"] > .nk-awb-inner {
    background-size: contain;
}
.nk-awb [data-awb-image-background-size="pattern"] > .nk-awb-inner {
    background-repeat: repeat;
    background-size: auto;
}

/* Image sizes*/
.nk-awb .nk-awb-inner > .jarallax-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    /* support for plugin https://github.com/bfred-it/object-fit-images */
    font-family: "object-fit: cover;"; // stylelint-disable-line
    z-index: -100;
    object-fit: cover;
}
.nk-awb [data-awb-image-background-size="contain"] > .nk-awb-inner > .jarallax-img {
    object-fit: contain;

    /* support for plugin https://github.com/bfred-it/object-fit-images */
    font-family: "object-fit: contain;"; // stylelint-disable-line
}
