.nk-awb {
    position: relative;
    z-index: 0;
}
.wp-block-nk-awb {
    padding: 20px 30px;
}
.nk-awb .nk-awb-inner,
.nk-awb .nk-awb-overlay,
.nk-awb .nk-awb-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
}
.nk-awb .nk-awb-wrap {
    overflow: hidden;
}
.nk-awb .nk-awb-mouse-parallax {
    transform: translateX(0);
}

/* Fullheight */
.nk-awb-fullheight {
    min-height: 100vh;

    body.admin-bar & {
        min-height: calc(100vh - 32px);

        @media screen and (max-width: 782px) {
            min-height: calc(100vh - 42px);
        }
        @media screen and (max-width: 600px) {
            min-height: 100vh;
        }
    }
}

/* Vertical align */
.nk-awb-content-valign-center,
.nk-awb-content-valign-top,
.nk-awb-content-valign-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.nk-awb-content-valign-top {
    justify-content: flex-start;
}
.nk-awb-content-valign-bottom {
    justify-content: flex-end;
}

/* Fix for Safari */
.nk-awb .nk-awb-overlay {
    z-index: 0;
}

/* Background sizes */
.nk-awb .nk-awb-inner {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    z-index: -100;
}
.nk-awb [data-awb-image-background-size="contain"] > .nk-awb-inner {
    background-size: contain;
}
.nk-awb [data-awb-image-background-size="pattern"] > .nk-awb-inner {
    background-repeat: repeat;
    background-size: auto;
}

/* Image sizes*/
.nk-awb .nk-awb-inner > .jarallax-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    /* support for plugin https://github.com/bfred-it/object-fit-images */
    font-family: "object-fit: cover;"; // stylelint-disable-line
    z-index: -100;
    object-fit: cover;
}
.nk-awb [data-awb-image-background-size="contain"] > .nk-awb-inner > .jarallax-img {
    object-fit: contain;

    /* support for plugin https://github.com/bfred-it/object-fit-images */
    font-family: "object-fit: contain;"; // stylelint-disable-line
}
