.vc_element-icon[data-is-container="true"].nk-awb-icon,
.vc_element-icon.nk-awb-icon {
    background-position: 50% 50%;
}
.vc_element-icon.nk-awb-icon,
.vc_element-icon[data-is-container="true"].nk-awb-icon,
.vc_control-awb {
    position: relative;
    overflow: hidden;
    background-image: url("icon.png");
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
}
.vc_add-element-container .vc_element-icon.nk-awb-icon {
    position: absolute;
}

.vc_control-awb {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: 0 2px;
    cursor: pointer;
}
.vc_controls-row .vc_control-awb {
    float: right;
    margin: 4px;
}
.vc_control-awb-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}
