// icon
img.awb-gutenberg-icon {
    max-width: 20px;
    height: auto;
    pointer-events: none;
}

.wp-block-nk-awb {
    .editor-block-list__layout {
        margin-right: 0;
        margin-left: 0;
    }
}

// background for block
.awb-gutenberg-preview-block {
    position: absolute;
    top: -14px;
    right: -14px;
    bottom: -14px;
    left: -14px;
    pointer-events: none;
    transition: .15s border ease-in-out;

    // inside nested block
    .editor-block-list__layout .editor-block-list__block .editor-block-list__block-edit .editor-block-list__block-edit & {
        right: -14px;
        left: -14px;
    }

    @media (min-width: 600px) {
        .editor-block-list__layout .editor-block-list__block & {
            right: -27px;
            left: -27px;
        }
    }

    &:empty {
        border: 1px solid #e2e4e7;

        [data-align="full"] > .editor-block-list__block-edit > .wp-block-nk-awb > & {
            border-right: 0;
            border-left: 0;
        }
    }

    > img,
    > div {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    > .nk-awb-overlay {
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media (min-width: 600px) {
    [data-align="full"] > .editor-block-list__block-edit > .wp-block-nk-awb {
        > .awb-gutenberg-preview-block {
            right: 0;
            left: 0;
        }

        > .editor-inner-blocks > .editor-block-list__layout {
            padding-right: 46px;
            padding-left: 46px;
        }
    }
}

// fix wide inside nested block
.editor-block-list__layout .editor-block-list__block-edit .editor-block-list__block[data-align="full"][data-type="nk/awb"] > .editor-block-list__block-edit {
    margin-right: 0;
    margin-left: 0;
}

// fix for Ghostkit Columns
[data-col-class*="ghostkit-col"] .editor-block-list__block[data-align="full"][data-type="nk/awb"],
[data-col-class*="ghostkit-col"] .editor-block-list__block[data-align="full"][data-type="nk/awb"] > .editor-block-list__block-edit {
    position: static;
}
[data-col-class*="ghostkit-col"] .editor-block-list__block[data-align="full"][data-type="nk/awb"] > .editor-block-list__block-edit::before,
[data-col-class*="ghostkit-col"] .editor-block-list__block[data-align="full"][data-type="nk/awb"] .awb-gutenberg-preview-block {
    top: -14px;
    right: -14px;
    bottom: -14px;
    left: -14px;
}

// preview image with background pattern in Inspector Controls
.components-panel .awb-gutenberg-media-upload > div {
    height: 150px;
}
