.wp-block-nk-awb {
    // background for block
    .awb-gutenberg-preview-block {
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
        pointer-events: none;
        border: 1px solid #e2e4e7;
        transition: .15s border ease-in-out;
        z-index: 1;

        @media (min-width: 600px) {
            right: 47px;
            left: 47px;

            [data-align="full"].editor-block-list__block & {
                right: 0;
                left: 0;
            }
        }

        .editor-block-list__block.is-selected & {
            border: 2px solid #1a1e23;
        }
        [data-align="full"].editor-block-list__block & {
            border-right: 0;
            border-left: 0;
        }
    }

    // preview image
    .awb-gutenberg-preview-img {
        position: absolute;
        top: 15px;
        left: 0;
        width: 25px;
        height: 25px;
        pointer-events: none;
        z-index: 2;

        [data-align="full"].editor-block-list__block & {
            left: 15px;
        }

        > img,
        > div {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;
        }

        > .nk-awb-overlay {
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}

// preview image with background pattern in Inspector Controls
.components-panel .awb-gutenberg-media-upload > div {
    height: 150px;
}
