/**
 * Grid System.
 * https://make.wordpress.org/design/2019/10/31/proposal-a-consistent-spacing-system-for-wordpress/
 */
$grid-unit: 8px;
$grid-unit-05: 0.5 * $grid-unit;	// 4px
$grid-unit-10: 1 * $grid-unit;		// 8px
$grid-unit-15: 1.5 * $grid-unit;	// 12px
$grid-unit-20: 2 * $grid-unit;		// 16px
$grid-unit-30: 3 * $grid-unit;		// 24px
$grid-unit-40: 4 * $grid-unit;		// 32px
$grid-unit-50: 5 * $grid-unit;		// 40px
$grid-unit-60: 6 * $grid-unit;		// 48px

// icon
img.awb-gutenberg-icon {
  max-width: 20px;
  height: auto;
  pointer-events: none;
}

.wp-block-nk-awb {
  padding: 1px 20px;

  .block-editor-block-list__layout {
    margin-right: 0;
    margin-left: 0;
  }
}

// Fullheight
// 32px - wordpress top bar
// 56px - gutenberg top bar
// 28px - block padding
.gutenberg .wp-block-nk-awb.nk-awb-fullheight {
  min-height: calc(100vh - 32px - 56px - 28px);

  @media screen and (max-width: 782px) {
    min-height: calc(100vh - 42px - 56px - 28px);
  }
  @media screen and (max-width: 600px - 56px - 28px) {
    min-height: calc(100vh - 56px - 28px);
  }
}

// inner blocks appender
.wp-block-nk-awb > .block-list-appender {
  position: relative;
}

// background for block
.awb-gutenberg-preview-block {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  transition: 0.15s border ease-in-out;

  // inside nested block
  .block-editor-block-list__layout .editor-block-list__block .editor-block-list__block-edit .editor-block-list__block-edit & {
    right: -15px;
    left: -15px;
  }

  &:empty {
    border: 1px solid #e2e4e7;

    [data-align="full"] > .editor-block-list__block-edit > .wp-block-nk-awb > & {
      border-right: 0;
      border-left: 0;
    }
  }

  .ghostkit-grid > &:empty {
    border: none;
  }

  // fixed for some default themes styles
  .editor-styles-wrapper & > img,
  .editor-styles-wrapper & > div,
  .editor-styles-wrapper & > .awb-gutenberg-preview-block-inner > img,
  .editor-styles-wrapper & > .awb-gutenberg-preview-block-inner > div {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  > .nk-awb-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 600px) {
  [data-align="full"] > .editor-block-list__block-edit > div > .wp-block-nk-awb {
    > .awb-gutenberg-preview-block {
      right: 0;
      left: 0;
    }

    > .editor-inner-blocks > .block-editor-block-list__layout {
      padding-right: 46px;
      padding-left: 46px;
    }
  }
}

// fix wide inside nested block
.block-editor-block-list__layout .editor-block-list__block-edit .editor-block-list__block[data-align="full"][data-type="nk/awb"] > .editor-block-list__block-edit {
  margin-right: 0;
  margin-left: 0;
}

// fix for Ghostkit Columns
.ghostkit-col .editor-block-list__block[data-align="full"][data-type="nk/awb"],
.ghostkit-col .editor-block-list__block[data-align="full"][data-type="nk/awb"] > .editor-block-list__block-edit {
  position: static;
}

.ghostkit-col .editor-block-list__block[data-align="full"][data-type="nk/awb"] {
  padding-right: 10px;
  padding-left: 10px;
}

.ghostkit-col .editor-block-list__block[data-align="full"][data-type="nk/awb"] > .editor-block-list__block-edit::before,
.ghostkit-col .editor-block-list__block[data-align="full"][data-type="nk/awb"] .awb-gutenberg-preview-block {
  top: -15px;
  right: -15px;
  bottom: -15px;
  left: -15px;
}

[data-type="ghostkit/grid"] [data-align="full"] > .editor-block-list__block-edit > .wp-block-nk-awb > .editor-inner-blocks > .block-editor-block-list__layout,
[data-type="ghostkit/grid"][data-align="full"] [data-align="full"] > .editor-block-list__block-edit > .wp-block-nk-awb > .editor-inner-blocks > .block-editor-block-list__layout {
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}

// preview image with background pattern in Inspector Controls
.components-panel .awb-gutenberg-media-upload > div {
  height: 150px;
}

/**
 * Color Picker
 */
.awb-component-color-picker-wrapper {
  > .components-base-control__field {
    display: flex;
    align-items: center;
    margin: 0;

    .components-base-control__label {
      order: 2;
      margin-bottom: 0;
      margin-left: 8px;
    }

    .components-color-palette__item-wrapper {
      margin: 0;
    }
  }

  > .components-base-control__help {
    margin-top: 8px;
  }

  .components-dropdown {
    display: block;
  }
}

.awb-component-color-toggle {
  position: relative;
  display: block;
  width: 25px;
  height: 25px;
  padding: 0;
  color: transparent;
  cursor: pointer;
  background:
    linear-gradient(
      -45deg,
      transparent 48%,
      #ddd 0,
      #ddd 52%,
      transparent 0
    );
  border: none;
  border-radius: 50%;
  transition: transform 0.1s ease;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  > span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background-color: currentcolor;
    border-radius: 50%;
    box-shadow: inset 0 0 0 1px rgb(0 0 0 / 20%);
  }
}

.awb-component-color-picker {
  .awb-component-color-picker-palette {
    margin: 0 16px;
  }

  .components-color-picker {
    margin: 0 auto;
  }

  .components-color-palette {
    margin: 0;
  }
}

.awb-component-color-picker__dropdown {
  display: block;
}

.awb-component-color-picker__dropdown-content {
  @media screen and (min-width: 782px) {
    .components-popover__content {
      margin-right: #{ $grid-unit-40 } !important;
    }

    &.is-from-top .components-popover__content {
      margin-top: #{ -($grid-unit-60 + $grid-unit-15) } !important;
    }

    &.is-from-bottom .components-popover__content {
      margin-bottom: #{ -($grid-unit-60 + $grid-unit-15) } !important;
    }
  }
}

/**
 * Color Indicator
 */
.components-panel__body-toggle > .awb-color-indicator {
  width: 15px;
  height: 15px;
  margin-left: 8px;

  + .awb-color-indicator {
    margin-left: 2px;
  }
}

/**
 * Toggle Group Control.
 */
.awb-control-toggle-group {
  > div {
    margin-bottom: -10px;
  }

  [aria-checked="false"] {
    color: #000;
  }

  button[disabled] {
    background-color: #b7b7b7;
    opacity: 0.4;
  }
}

/**
 * Spacings Control.
 */
.awb-ghostkit-control-spacing {
  position: relative;
  width: 100%;
  padding-top: 87%;
  border: 1px solid #e8eaec;

  .components-base-control,
  .components-base-control__field {
    margin: 0 !important;
  }

  .awb-ghostkit-control-spacing-margin,
  .awb-ghostkit-control-spacing-padding {
    position: absolute;
    top: 5px;
    left: 5px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);

    > span {
      position: absolute;
      top: 2px;
      left: 6px;
      font-size: 0.7em;
    }

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    input {
      width: 39px;
      padding: 3px 5px;
      text-align: center;
      background: none;
      border: none;
    }
  }

  // margins
  .awb-ghostkit-control-spacing-margin {
    .awb-ghostkit-control-spacing-margin-top {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    .awb-ghostkit-control-spacing-margin-right {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
    }

    .awb-ghostkit-control-spacing-margin-bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }

    .awb-ghostkit-control-spacing-margin-left {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
    }
  }

  // paddings.
  .awb-ghostkit-control-spacing-padding {
    top: 36px;
    left: 50px;
    width: calc(100% - 100px);
    height: calc(100% - 72px);
    background-color: #f2f2f2;

    > span {
      top: 6px;
      left: 10px;
    }

    // paddings.
    .awb-ghostkit-control-spacing-padding-top {
      position: absolute;
      top: 5px;
      left: 5px;
      width: calc(100% - 10px);
    }

    .awb-ghostkit-control-spacing-padding-right {
      position: absolute;
      top: 5px;
      right: 5px;
      height: calc(100% - 10px);
    }

    .awb-ghostkit-control-spacing-padding-bottom {
      position: absolute;
      bottom: 5px;
      left: 5px;
      width: calc(100% - 10px);
    }

    .awb-ghostkit-control-spacing-padding-left {
      position: absolute;
      top: 5px;
      left: 5px;
      height: calc(100% - 10px);
    }
  }
}
