.button.awb_attach_image_btn {
    width: auto;
    margin-right: 5px;
}
.awb_attach_image_label {
    display: inline-block;
    margin-top: 5px;
    color: #999;

    img {
        width: 100px;
        height: auto;
    }
}
